In [9]:
# Numpy como dependência do Scikit-learn e Pandas
# Scikit-learn para os algoritmos de ML e funções cômodas
# Pandas para visualização e manipulação rápida e fácil de dados
import sklearn
import numpy as np
import pandas as pd
import sklearn.datasets as datasets
import sklearn.preprocessing as preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [10]:
# Criação de um DataFrame do pandas
def sklearn_to_df(sklearn_dataset):
    df = pd.DataFrame(sklearn_dataset.data, columns=sklearn_dataset.feature_names)
    df['target'] = pd.Series(sklearn_dataset.target)
    return df

In [4]:
# Dataset Iris
dataset = datasets.load_iris()

In [5]:
# Estratificação dos dados, split em teste e treino
X_train, X_test, y_train, y_test = train_test_split(dataset.data, dataset.target, stratify=dataset.target, test_size = 0.3, random_state=4)

In [6]:
# Criação de um DataFrame do Panda a partir do dataset
df_dataset = sklearn_to_df(dataset)
print(df_dataset.shape)
df_dataset.head()

(150, 5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [7]:
# Normalização dos dados
scaler = preprocessing.StandardScaler()

# Sem trapaças, calibrar o scaler apenas nos dados de treino
scaler.fit(X_train)

S_train = scaler.transform(X_train)
S_test = scaler.transform(X_test)

In [8]:
# Árvore de decisão
from sklearn.tree import DecisionTreeClassifier as DT

dt = DT(criterion="gini")
dt.fit(S_train, y_train)
dt_predict = dt.predict(S_test)
print(dt.score(S_test, y_test))

pd.DataFrame(confusion_matrix(y_test, dt_predict),columns = dataset.target_names, index = dataset.target_names)

0.9555555555555556

            setosa  versicolor  virginica
setosa          15           0          0
versicolor       0          14          1
virginica        0           1         14